# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.AdventOfCoding.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\DragonsBreath\RiderProjects\AdventOfCoding\.idea\.idea.AdventOfCoding\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
